.calc-toolbar {
  background-color: #EFF2F4;
  color: #506069;
  padding: 10px 10px 10px 10px;

  button {
    background-color: #fc7900;
    color: white;
    padding-bottom: 3px;
    padding-top: 3px;
  }
}
