<div class="container-fluid calc-toolbar">
  <div class="d-flex justify-content-between align-items-center">
    <div>
      <button type="button" (click)="newProject()" class="btn"> Neues Projekt </button>
    </div>
    <div style="font-size: 20px; color: white;">
      {{ this.currentProject.id + ' / ' + this.currentProject.name + ' / ' + this.currentProject.editor }}
    </div>
    <div>
      <button type="button" style="margin-right: 10px" class="btn"><fa-icon [icon]="['fas','edit']"></fa-icon></button>
      <button type="button" routerLink="/export" routerDirection="root" class="btn"><fa-icon [icon]="['fas','save']"></fa-icon></button>
    </div>
  </div>
</div>

<div class="card text-center overflow-auto">
    <div class="card-header d-flex justify-content-between">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': activePage === ActiveCalcPage.Tube}" (click)="changeActivePage(ActiveCalcPage.Tube)"> Rohrreibungsverlust </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': activePage === ActiveCalcPage.Resist}" (click)="changeActivePage(ActiveCalcPage.Resist)"> Einzelwiederstände </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': activePage === ActiveCalcPage.Other}" (click)="changeActivePage(ActiveCalcPage.Other)"> Einbauwiederstände </a>
        </li>
      </ul>
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link add-nav-link" (click)="openAddModal()" > Hinzufügen </a>
        </li>
      </ul>
    </div>
    <div class="card-body overflow-auto">
      <div [ngSwitch]="this.activePage" class="overflow-auto">
        <div *ngSwitchCase="ActiveCalcPage.Resist">
          <app-resist-calc></app-resist-calc>
        </div>
        <div *ngSwitchCase="ActiveCalcPage.Tube">
          <app-tube-calc></app-tube-calc>
        </div>
        <div *ngSwitchCase="ActiveCalcPage.Other">
            <app-other-calc></app-other-calc>
        </div>
      </div>

    </div>
    <div class="card-footer d-flex justify-content-end align-items-center">
      <span> Total: </span>
      <input disabled type="text" class="form-control" placeholder="PA">
    </div>
</div>

