<div class="container">
  <div class="card">
    <div class="card-header">
      <div class="d-flex align-items-center">
        <div>
          Neues Projekt
        </div>
        <div class="ml-auto">
          <a routerLink="/import" routerDirection="root"><button type="button" class="btn"> Importieren </button></a>
        </div>
      </div>
    </div>
    <div class="card-body">

      <div class="container-fluid">
        <div class="row">
          <div class="col-4">
            <label for="name">Projekt Name*</label>
            <input [formControl]="projectGroup.get('name')" type="text" class="form-control" id="name" placeholder="Projekt Name">
          </div>
          <div class="col-4">
            <label for="number">Projekt Nummer*</label>
            <input [formControl]="projectGroup.get('id')"  type="number" class="form-control" id="number" placeholder="Projekt Nummer">
          </div>
          <div class="col-4">
            <label for="editor">Bearbeiter*</label>
            <input [formControl]="projectGroup.get('editor')"  type="text" class="form-control" id="editor" placeholder="Bearbeiter">
          </div>
        </div>
        <div class="row">
          <div class="col-12" style="margin-top: 20px">
            <label for="description">Beschreibung</label>
            <textarea [formControl]="projectGroup.get('description')"  style="min-height:100px" placeholder="Beschreibung" class="form-control" id="description" rows="4"></textarea>
          </div>
        </div>
      </div>



    </div>
    <div class="card-footer d-flex justify-content-end">
      <button (click)="submitNewProject()" type="button" class="btn"> Weiter... </button>
    </div>
  </div>

</div>
