<nav class="navbar navbar-light header">
  <div class="logo">
  <a class="navbar-brand" href="#">
    <img src="assets/images/logo_new.svg" width="130" height="30" class="d-inline-block align-self-center" alt="">
    Durckverlustprogramm
  </a>
  </div>

  <div class="justify-content-end state-bar">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sprache
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
  </div>
</nav>

  <div class="content container-fluid">
      <div class="row">
        <div class="col-2">
          <div class="sidebar">
            <div class="sidebar-header">
              <span style="font-size: 18px;"> Tools </span>
            </div>
            <ul class="list-group">
              <li class="list-group-item"> <a routerLink="/calculation" routerDirection="root"><button class="btn text-left" >Rechner</button></a></li>
              <li class="list-group-item"> <a routerLink="/export" routerDirection="root"><button class="btn text-left" >Export</button></a></li>
              <li class="list-group-item"> <a routerLink="/import" routerDirection="root"><button class="btn text-left" >Import</button></a></li>
              <li class="list-group-item"> <a routerLink="/settings" routerDirection="root"><button class="btn text-left" >Settings</button></a></li>
            </ul>
          </div>
        </div>
        <div class="col-10">
            <div id="root-container">
              <router-outlet></router-outlet>
            </div>
        </div>
      </div>
  </div>

<nav class="navbar fixed-bottom navbar-light footer">
      @Copyright Michael Reder

  <div class="justify-content-end" style="font-size: 14px">
    <span>  Druckverlust v1.0.0</span>
  </div>
</nav>
