.header {

  background-color: #CBD7DD;
  color: white;

  .logo {
    padding: 5px 10px 5px 10px;
    background-color: white;
    border-radius: 4px;

    & a {
      color: #506069;
      margin-right: 0;
    }

    & img {
      margin-right: 10px;
    }
  }

  .state-bar {
    margin-right: 20px;
  }
}

.content {
  height: -moz-calc(100% - 140px); /* Firefox */
  height: -webkit-calc(100% - 140px); /* Chrome, Safari */
  height: calc(100% - 140px); /* IE9+ and future browsers */
  margin: 20px 0 20px 0;

  .row {
    height: 100%;
  }

  .sidebar {
    height: 100%;
    border: 2px solid #FC7900;
    border-radius: 6px;

    .sidebar-header {
      width: 100%;
      text-align: center;
      padding: 10px 0 10px 0;
      background-color: #FC7900;
      color: white;
    }

    .list-group .list-group-item {
      border: 0px;
      padding: 3px 0 3px 0;

      button {
        padding-bottom: 10px;
        padding-top: 10px;
        width: 100%;
        background-color: white;
        border: 0px;
        border-radius: 0px;
      }

      button:hover {
        color: white;
        background-color: #CBD7DD;
      }

      button:focus {
        color: white;
        background-color: #CBD7DD;
      }

      .btn:focus {
        box-shadow: none;
      }
    }
  }
}

.footer {
  color: white;
  background-color: #506069;
}

.active {
  color: white !important;
  background-color: #CBD7DD !important;
}
