<nav class="navbar navbar-light header">
  <div class="logo">
  <a class="navbar-brand" href="#">
    <img src="assets/images/logo_new.svg" width="130" height="30" class="d-inline-block align-self-center" alt="">
    Durckverlustprogramm
  </a>
  </div>

  <div class="justify-content-end state-bar">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sprache
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
  </div>
</nav>

  <div class="content container-fluid">
      <div class="row">
        <div class="col-2">
          <div class="sidebar">
            <div class="sidebar-header">
              <span style="font-size: 18px;"> Tools </span>
            </div>
            <ul class="list-group">
              <li class="list-group-item"> <a routerLink="/calculation" routerDirection="root"><button class="btn text-left"> <fa-icon [icon]="['fas','calculator']"></fa-icon> <span style="padding-left: 10px">Rechner</span> </button></a></li>
              <li class="list-group-item"> <a routerLink="/export" routerDirection="root"><button class="btn text-left"> <fa-icon [icon]="['fas','save']"></fa-icon> <span style="padding-left: 10px">Speichern</span></button></a></li>
              <li class="list-group-item"> <a routerLink="/import" routerDirection="root"><button class="btn text-left"> <fa-icon [icon]="['fas','file-excel']"></fa-icon> <span style="padding-left: 10px">Import</span></button></a></li>
              <li class="list-group-item"> <a routerLink="/settings" routerDirection="root"><button class="btn text-left"> <fa-icon [icon]="['fas','cog']"></fa-icon> <span style="padding-left: 10px">Settings</span></button></a></li>
            </ul>
          </div>
        </div>
        <div class="col-10">
              <router-outlet class="h-100"></router-outlet>
        </div>
      </div>
  </div>

<nav class="navbar fixed-bottom navbar-light footer">
  <div class="justify-content-start">
  <fa-icon [icon]="['far','copyright']"></fa-icon>
  <span style="padding-left: 5px">Copyright Michael Reder </span>
  </div>

  <div class="justify-content-end" style="font-size: 14px">
    <fa-icon [icon]="['fas','tv']"></fa-icon>
    <span style="padding-left: 5px">Druckverlust v1.0.0</span>
  </div>
</nav>
