<div class="container-fluid">
  <div style="text-align: left;">
    Rohrwiederstand
    <div class="row" style="text-align: left;">
      <div class="col-lg-3"> <span> V m^3/h </span> <input class="form-control" type="text"> </div>
      <div class="col-lg-3"> <span>D mm  </span><input class="form-control" type="text"> </div>
      <div class="col-lg-3"> <span> B mm </span> <input class="form-control" type="text"> </div>
      <div class="col-lg-3"> <span> H mm </span> <input class="form-control" type="text"> </div>
      <div class="col-lg-3"> <span> L m  </span><input class="form-control" type="text"> </div>
      <div class="col-lg-3"> <span> k mm </span> <input class="form-control" type="text"> </div>
    </div>
  </div>
</div>
