.row {
  div {
    padding-right: 5px;
    padding-left: 5px;
  }
}

.row {
  padding-top: 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid #50606990;
}

input {
  padding-bottom: 1px;
  padding-top: 1px;
  height: 32px;
}

span {
  color: #50606990;
  font-size: 12px;
  margin-left: 5px;
}

