/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import "~bootstrap/scss/bootstrap";

.section-header {
    background-color: #506069;
    padding: 15px 0 15px 20px;
    font-size: 20px;
    color: white;
  }


.central-content-body {
  height: -moz-calc(100% - 50px); /* Firefox */
  height: -webkit-calc(100% - 50px); /* Chrome, Safari */
  height: calc(100% - 50px); /* IE9+ and future browsers */
}
